body {
  font-family: Arial, sans-serif;
  background-color: #008c41;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.container {
  width: 100%;
  margin: auto;
  padding: 20px;
  display:flex;
  flex-direction: column;
  gap: 30px;
  
}

h1 {
  text-align: center;
  color: #0e0101;
}

.form {
  background: hsla(0, 0%, 100%, 0.563);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.form input {
  width: 95%;
  padding: 10px;
  margin: 7px 0;
}

.form input,
.form button {
  flex: 1;
}

.form button {
  align-items: center;
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  width: 20%;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 40%;
}

.form button:hover {
  background: #0056b3;
}

.table-container {
  background: hsla(0, 0%, 100%, 0.563);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background: #007bff;
  color: white;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.edit-btn {
  background: black;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  margin-right: 5px;
  cursor: pointer;
}
.edit-btn:hover{
   background: darkgreen;
}

.delete-btn:hover{
  background: darkgreen;
}

@media (max-width: 768px) {
  table {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  thead {
    display: none;
  }

  tbody {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  tr {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
  }

  td {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border: none;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    color: #333;
  }

  .edit-btn,
  .delete-btn {
    width: 30%;
  }

  td:last-child {
    display: flex;
    justify-content: space-between;
  }
}
